
01.ConversionRate/conversion_data.csv

02.TranslateABTest/Translation_Test.zip

03.EmployeeRetention/employee_retention.csv

04.FraudActivity/Fraud.zip

.DS_Store

.idea

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

02.TranslateABTest/user_table.csv

02.TranslateABTest/test_table.csv

.idea/workspace.xml

04.FraudActivity/Fraud_Data.csv

04.FraudActivity/IpAddress_to_Country.csv

04.FraudActivity/fraud_cleaned.csv

06.PriceTest/user_table.csv

06.PriceTest/test_results.csv

05.FunnelAnalysis/user_table.csv

05.FunnelAnalysis/all_users.csv

05.FunnelAnalysis/home_page_table.csv

05.FunnelAnalysis/payment_confirmation_table.csv

05.FunnelAnalysis/payment_page_table.csv

05.FunnelAnalysis/search_page_table.csv

07.MarketingEmail/email_opened_table.csv

07.MarketingEmail/email_table.csv

07.MarketingEmail/link_clicked_table.csv

*.pkl

07.MarketingEmail/clean_emails.csv

07.MarketingEmail/.ipynb_checkpoints/market_email-checkpoint.ipynb

16.ParseURL/urls.csv

16.ParseURL/url_list.txt

13.CitySimilarity/city_search.json

13.CitySimilarity/city_similarity.csv

13.CitySimilarity/clean_sessions.csv

13.CitySimilarity/temp.csv

11.UserReferral/referral.csv

08.SongChallenge/.ipynb_checkpoints/song_challenge-checkpoint.ipynb

10.CreditCard/cc_info.csv

10.CreditCard/transactions.csv

12.LoanGrant/borrower_table.csv

12.LoanGrant/cleaned_loan.csv

12.LoanGrant/loan_all.csv

12.LoanGrant/.ipynb_checkpoints/loan_grant-checkpoint.ipynb

12.LoanGrant/loan_table.csv

19.SubscribeRetention/subscription.csv

20.AdsAnalysis/ad_table.csv

14.ShuttleStops/Potentail_Bust_Stops.csv

14.ShuttleStops/Employee_Addresses.csv

18.OnlineVideo/video_count.csv

18.OnlineVideo/video_features.csv

19.SubscribeRetention/.ipynb_checkpoints/subscribe_retention-checkpoint.ipynb

18.OnlineVideo/.ipynb_checkpoints/online_videos-checkpoint.ipynb

11.UserReferral/.ipynb_checkpoints/user_referral-checkpoint.ipynb

13.CitySimilarity/.ipynb_checkpoints/city_search-checkpoint.ipynb

13.CitySimilarity/most_similar_cities.csv

10.CreditCard/.ipynb_checkpoints/credit_card_fraud-checkpoint.ipynb

10.CreditCard/extend_transactions.csv

10.CreditCard/suspect.csv

10.CreditCard/users_never_exceed_limit.txt

09.ClusterGrocery/.ipynb_checkpoints/cluster_grocery-checkpoint.ipynb

17.EngagementTest/.ipynb_checkpoints/test_engagement-checkpoint.ipynb

17.EngagementTest/user_table.csv

17.EngagementTest/test_table.csv

06.PriceTest/.ipynb_checkpoints/price_test-checkpoint.ipynb

15.WorkPlace/.ipynb_checkpoints/diverse_work_place-checkpoint.ipynb

04.FraudActivity/.ipynb_checkpoints/fraud_activity-checkpoint.ipynb

16.ParseURL/.ipynb_checkpoints/parse_url-checkpoint.ipynb

05.FunnelAnalysis/.ipynb_checkpoints/funnel_analysis-checkpoint.ipynb
