
01.ConversionRate/conversion_data.csv

02.TranslateABTest/Translation_Test.zip

03.EmployeeRetention/employee_retention.csv

04.FraudActivity/Fraud.zip

.DS_Store

.idea

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

02.TranslateABTest/user_table.csv

02.TranslateABTest/test_table.csv

.idea/workspace.xml

04.FraudActivity/Fraud_Data.csv

04.FraudActivity/IpAddress_to_Country.csv

04.FraudActivity/fraud_cleaned.csv

06.PriceTest/user_table.csv

06.PriceTest/test_results.csv

05.FunnelAnalysis/user_table.csv

05.FunnelAnalysis/all_users.csv

05.FunnelAnalysis/home_page_table.csv

05.FunnelAnalysis/payment_confirmation_table.csv

05.FunnelAnalysis/payment_page_table.csv

05.FunnelAnalysis/search_page_table.csv

07.MarketingEmail/email_opened_table.csv

07.MarketingEmail/email_table.csv

07.MarketingEmail/link_clicked_table.csv

*.pkl

07.MarketingEmail/clean_emails.csv

07.MarketingEmail/.ipynb_checkpoints/market_email-checkpoint.ipynb

16.ParseURL/urls.csv

16.ParseURL/url_list.txt

13.CitySimilarity/city_search.json

13.CitySimilarity/city_similarity.csv

13.CitySimilarity/clean_sessions.csv

13.CitySimilarity/temp.csv
